 html,
    body,
    #map {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    .blue-map .esri-widget,
    .blue-map .esri-widget-button,
    .blue-map .esri-menu,
    .blue-map .esri-popup__main-container,
    .blue-map .esri-popup .esri-pointer-direction,
    .blue-map .esri-button{
      background-color: #6ab43e;
      color: #fff;
    }

    .blue-map .esri-widget-button:focus,
    .blue-map .esri-widget-button:hover,
    .blue-map .esri-menu li:focus,
    .blue-map .esri-menu li:hover {
      background-color: rgba(0,0,0,0.3);
      color: #fff;
    }

    .blue-map .esri-button:focus,
    .blue-map .esri-button:hover {
      color: #fff;
    }

    .esri-legend__service{
      background-color: white;
    color: #000;
    }
  .esri-popup--content-visible .esri-popup__content {
     margin: 0; 
     background-color: #fff;
}


    .esri-widget table tr td:first-child{
      font-weight: bold;
    }
    .esri-popup__button{
      color: #fff;
    }
    .dtg-tooltip-map{
      width: 100px;
      word-wrap: break-word;
      position: absolute;
      border: 1px solid #7EABCD;
      background-color: white;
      padding: 5px;
      font-size: 9pt;
      z-index: 9999;
      -o-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
    }
    .dtg-btn-widget{
      border: none;
      width: 98%;
      text-align: center;
      margin: 5px auto;
      padding: 9px 15px 9px 20px;
      color: #fff;
      background-color: #6ab43e;
  }
    .btn-popup-submit {
      background-color: #6ab43e;
      border: none;
      color: white;
      padding: 9px 5px;
      text-align: center;
      font-size: 16px;
      margin: 5px 5px 5px 5px;
      cursor: pointer;
      width: 98%;
    }
    .modal-header, .modal-footer{
      background-color: #53A722;
      color: #fff;
    }
    .modal-body{
      background-color: #fff;
    }
    .esri-view-width-xsmall .esri-popup--is-docked-top-right .esri-popup__main-container{
      max-height: 80%;
    }
  .popup-content{
    margin: 5px;
  }

	.popup-content .attachment-item {
		font-weight: normal;
		margin-bottom: 0px;
		font-size: 14px;
		margin-top: 0px;
  }
  .popup-content .attachment-header {
    color:#000;
		font-weight: bold;
		margin-top: 10px;
		font-size: 15px;
		margin-bottom: 5px;
	}
	.popup-content .attachment-img {
    width: 50px;
    height: 50px;
	}
	.popup-content .attachment-name {
		display:inline-block;
		margin-left:10px;
	}
	.popup-content .delete-attachment {
		display:inline-block;
		margin-left:5px;
		width: 16px;
		height: 16px;
		cursor: pointer;
		font-size: 16px;
	}
	.popup-content .view-attachment {
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-left: 5px;
		cursor: pointer;
		font-size: 16px;
  }
  #dtg-widget-logo{
    opacity: 1;
    background-color:transparent
  }