.ditagis-widget-layer-editor {
    max-height: 550px;
    width: 300px;
    max-height: 420px;
    overflow: hidden;
    overflow-y: auto;
    transition: max-height 250ms ease-in-out;
}

.ditagis-widget-layer-editor ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
.ditagis-widget-layer-editor .title {
    text-align: center;
    font-weight: bold;
    padding: 7px;
}
.ditagis-widget-layer-editor .list-item {
        display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    cursor: pointer;
}

.ditagis-widget-layer-editor .list-item .item-container {
   width: 100%;
    text-align: center;
    display: table-row;
    justify-content: flex-start;
    padding: 9px 15px 9px 20px;
    background-color: #fff;
    border-bottom: 1px solid rgba(50, 50, 50, 0.25);
    transition: padding 250ms ease-in-out 0ms;
}
.ditagis-widget-layer-editor .list-item .item-container .icon-label {
    color: black;
}

.ditagis-widget-layer-editor ul li div button {
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.3em;
    word-break: break-all;
    border: none;
    background-color: transparent
}

