<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <!-- <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
  <title>TRUNG TÂM DITAGIS - KHẢO SÁT ĐỒNG HỒ NƯỚC </title>
  <!-- Path to Framework7 Library CSS-->

  <link rel="stylesheet" href="/stylesheets/framework7.ios.min.css">

  <link rel="stylesheet" href="/stylesheets/framework7.ios.colors.min.css">
  <link rel='stylesheet' , href='https://js.arcgis.com/4.5/esri/css/main.css'>
  <link rel='stylesheet' , href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
  <!-- Path to your custom app styles-->
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/framework7-icons.css">

</head>

<body>
  <div class="views">
    <div class="view view-main">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="left"></div>
          <div class="center sliding">Khảo sát đồng hồ nước</div>
          <div class="right"></div>
          <!-- We have home navbar without left link-->

        </div>
      </div>
      <div class="pages navbar-through toolbar-fixed">
        <div data-page="form" class="page">
          <!-- Scrollable page content-->
          <div class="page-content">
            <div class="content-title-group">Thông tin</div>
            <form id="infoForm" class="list-fields">
              <ul id="form-container">
                <li class="field">
                  <label class="flabel" for="mota">Vị trí</label>
                  <div id="mapImage" class="map">
                    <div id="location">
                      <table>
                        <tr>
                          <th>
                            <label for="lat" class="coordinate">Kinh độ: </label>
                          </th>
                          <td class="lat"> </td>
                          <th>
                            <label for="long" class="coordinate">Vĩ độ: </label>
                          </th>
                          <td class="long"></td>
                        </tr>
                      </table>
                    </div>

                  </div>
                  <div id="minimap"></div>
                </li>
              </ul>
            </form>
            <div class="toolbar hide-toolbar-on-scroll">
              <div id="btnSubmit" class="toolbar-inner">
                <div style="text-align:  center;width:  100%;font-weight: 700;">
                  Cập nhật
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Path to Framework7 Library JS-->
  <script type="text/javascript" src="/javascripts/lib/framework7.min.js"></script>
  <script>
    var dojoConfig = {
      deps: ["app/khaosat/main"],
      packages: [{
        name: "app",
        location: location.origin + "/javascripts"
      }, ]
    }
  </script>
  <script src='https://js.arcgis.com/4.5/'></script>
</body>

</html>