<div class="page cached" data-name="khao-sat/ban-do">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="back">
          <i class="fa fa-angle-left"></i>
        </a>
      </div>
      <div class="title">Vị trí sự cố</div>
    </div>
  </div>
  <!-- Page, data-page contains page name-->
  <!-- Scrollable page content-->
  <div class="toolbar">
    <div class="toolbar-inner">
      <table>
        <tr>
          <th>
            <label for="lat" class="coordinate">Kinh độ: </label>
          </th>
          <td class="lat"> </td>
        </tr>
        <tr>
          <th>
            <label for="long" class="coordinate">Vĩ độ: </label>
          </th>
          <td class="long"></td>
        </tr>
      </table>
      <a id="getlocation" href="#" class="link back">
        <i class="icon f7-icons" style="margin-right: 15px;">check_round</i>
      </a>
    </div>
  </div>
  <div class="page-content">

    <div id="viewDiv" class="mapDiv">
    </div>
  </div>


</div>