doctype html
html
	head
		title= title
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/gh-fork-ribbon.min.css')
	body
		#login.center-vertical
			form.well(id='form-login', method='post',action="/login")
				h2 Đăng nhập!
				h6 Vui lòng đăng nhập để truy cập trang
				.form-group
					label Tài khoản
					input.form-control(type='text', id='user-tf', name='username')
				.form-group
					label Mật khẩu
					input.form-control(type='password', id='pass-tf', name='password')
				.controls
					button(type='button').btn.btn-default.button-rememember-me
						span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
						| Nhớ mật khẩu
					button(type='submit').btn.btn-primary.button-sign-in
						span.glyphicon.glyphicon-lock
						| Đăng nhập
				.clearfix
				hr
				.clearfix

		include modals/alert

		script(src='javascripts/lib/jquery-2.2.3.min.js')
		script(src='javascripts/lib/jquery.form.min.js')
		script(src='javascripts/lib/bootstrap.min.js')
		script(src='javascripts/account/views/login.js')
		script(src='javascripts/account/controllers/loginController.js')
		script(src='javascripts/account/form-validators/loginValidator.js')