<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->

<div class="pages">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="back">
          <i class="fa fa-angle-left"></i>
        </a>
      </div>
      <div class="center sliding">Vị trí sự cố</div>
      <div class="right"></div>
    </div>
  </div>
  <!-- Page, data-page contains page name-->
  <div data-page="map" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">

      <div id="viewDiv">
      </div>
    </div>
    <div class="toolbar">
      <div class="toolbar-inner">
        <table>
          <tr>
            <th>
              <label for="lat" class="coordinate">Kinh độ: </label>
            </th>
            <td class="lat"> </td>
          </tr>
          <tr>
            <th>
              <label for="long" class="coordinate">Vĩ độ: </label>
            </th>
            <td class="long"></td>
          </tr>
        </table>
        <a id="cap-nhat-vi-tri" class=" action hidden">
          <i class="fa fa-check-circle"></i>
        </a>
        <a id="huy-cap-nhat-vi-tri" class=" action hidden">
          <i class="fa fa-close"></i>
        </a>
        <a id="getlocation" class=" action">
          <i class="fa fa-check-circle"></i>
        </a>
      </div>
    </div>
  </div>


</div>