.mapDiv{
  height: 100%;width: 100%
}
i.esri-icon-map-pin.esri-component{
  left: 50%;
  top: calc(50% - 16px);
  transform: translate(-50%, -50%);
  color: green;
  font-size: xx-large;
}
.hidden{
  display: none;
}
#miniView{
  height: 120px;
  width: 100%;
}