<div class="page" data-name="cap-nhat/thuoc-tinh">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title">Thông tin</div>
    </div>
  </div>
  <div class="page-content">
    <form id="form">
      <div class="list no-hairlines-md">
        <ul>
        </ul>
      </div>
    </form>
    <div class="block block-strong">
      <div class="row">
        <a href="#" class="col button button-fill" id="btnSubmit">Cập nhật</a>
      </div>
    </div>
  </div>
</div>