<div class="page" data-name="cap-nhat">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" style="left: 0px;">Khảo sát đồng hồ nước</div>
      <div class="right"></div>
    </div>
  </div>
  <div class="toolbar tabbar-labels">
    <div class="toolbar-inner">
      <a href="#tab-1" class="tab-link tab-link-active">
        <i class="icon f7-icons">book_fill</i>
        <!-- Label text -->
        <span class="tabbar-label">Bản đồ</span>
      </a>
      <a href="#tab-2" class="tab-link">
        <i class="icon f7-icons">list</i>
        <span class="tabbar-label">Danh sách</span>
      </a>
    </div>
  </div>
  <div class="tabs">
    <!-- First tab, active -->
    <div class="page-content tab tab-active" id="tab-1">
      <div id="viewDiv" class="mapDiv" style="height: calc(100% - 50px)"></div>
      <div class="toolbar">
        <div class="toolbar-inner">
          <table>
            <tr>
              <th>
                <label for="lat" class="coordinate">Kinh độ: </label>
              </th>
              <td class="lat"> </td>
            </tr>
            <tr>
              <th>
                <label for="long" class="coordinate">Vĩ độ: </label>
              </th>
              <td class="long"></td>
            </tr>
          </table>
          <a id="huy-cap-nhat-vi-tri" class="hidden">
            <i class="icon f7-icons" style="margin-right: 15px;">close_round</i>
          </a>
          <a id="cap-nhat-vi-tri" class="hidden">
            <i class="icon f7-icons" style="margin-right: 15px;">check_round</i>
          </a>
        </div>
      </div>
    </div>
    <!-- Second tab -->
    <div class="page-content tab ptr-content" id="tab-2">
      <div class="ptr-preloader">
        <div class="preloader"></div>
        <div class="ptr-arrow"></div>
      </div>
      <div class="list media-list">
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>